server:
  port: 8081
  servlet:
    context-path: /api/v1

spring:
  datasource:
    url: jdbc:mysql://103.75.184.157:3306/jingang_farm_management
    username: login01
    password: lAdI@0509!@#
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
    show-sql: true
    hibernate:
      ddl-auto: update
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: tcnhpts@gmail.com
    password: oohi mjhl rgke opjt
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

minio:
  url: http://103.57.222.151:9000
  access-key: FrD4IDKccM0ME5037Wlc
  secret-key: Fwt3hY72wZhkabM7kGfIqryyhpIpJtEoun1api0K
  bucket-name: jfarm

java:
  awt:
    headless: true
